.Candidate {
  display: flex;
  border: 1px solid #CCC;
  margin: 10px;
  padding: 10px;
}

.Candidate__left {
  margin: 10px 0 0 10px;
  flex: 0 0 150px;
  text-align: left;
}

.Candidate__center {
  flex: 1 0 auto;
  text-align: left;
  overflow: hidden;
}

.Candidate__right {
  margin: 10px 10px 0 0;
  flex: 0 0 100px;
  display: flex;
  text-align: right;
}

.Candidate__image {
  object-fit: cover;
  width:120px;
  height:120px;
}